
.navbar{
/* position: fixed; */
width: 100%;
height:60px;
max-height: 100px;
left: 0px;
top: 0px;
padding-left: calc(5% + 4px);
padding-right: calc(5% + 4px);
background: #FBF7ED;
overflow: hidden;
}

.nav_logo{
width: 100%;
height: 100%;
}

